<div class="contact">

    <h2>Contact</h2>

    <a href="https://mobile.twitter.com/pedropaulo_mota" target="_blank">
        <img src="images/round_twitter.png" title="Twitter" />
    </a>
    <a href="https://github.com/pedropmota" target="_blank">
        <img src="images/round_github.png" title="Github" />
    </a>
    <a href="https://www.linkedin.com/in/pedropaulomota" target="_blank">
        <img src="images/round_linkedin.png" title="LinkedIn" />
    </a>
    <a href="mailto:pedropaulo.mota@outlook.com" target="_top">
        <img src="images/round_outlook.png" title="Email: pedropaulo.mota@outlook.com" />
    </a>

</div>