<div class="main-container">

    <div class="col-md-3 details-container">
        <div ng-show="detailedTask">
            <h3 class="detailed-task-title">{{detailedTask.title}}</h3>
            <div ng-click="editDetails()" ng-hide="details_edit_mode" kb-click-focus-input class="task-details">
                <span ng-show="!detailedTask.details">Detailed description</span> {{detailedTask.details}}
            </div>
            <textarea ng-blur="saveDetails()" ng-model="detailedTask.details" ng-show="details_edit_mode" kb-blur-on-enter class="task-details-text"
                placeholder="Detailed description"></textarea>
            <p>
                Created by {{detailedTask.created_by}} <br /> at {{detailedTask.created_at | date:"h:mm 'on' MMM d, y"}}
                <br /><span ng-show="detailedTask.modified_at">Modified at {{detailedTask.modified_at | date:"h:mm 'on' MMM d, y"}}</span>
            </p>
            <input type="button" ng-show="detailsChanged" ng-click="saveDetails()" value="Save" class="btn" />
        </div>

        <div ng-hide="detailedTask" class="welcome">
            <h2>Welcome!</h2>
            <h4>How to use:</h4>
            <ul>
                <li>Click the New Panel button to start adding tasks.</li>
                <li>For demostration purposes, panels and tasks can be created anonymously.
                    They will be saved once you login or register.
                </li>
                <li>This left area will show a task's details when one is clicked or created.</li>
            </ul>
        </div>

    </div>


    <div class="col-md-9 panel-container">

        <div ng-repeat="panel in panels" class="panel">
            <div class="panel-name-container">
                <h3 class="panel-name" ng-click="editPanel(panel)" ng-hide="panel.edit_mode" kb-click-focus-input>{{panel.name}}</h3>
                <input class="panel-name-edit" type="text" ng-blur="savePanel(panel)" ng-model="panel.name" ng-show="panel.edit_mode" kb-blur-on-enter
                />
            </div>
            <div ng-repeat="task in panel.tasks" class="tasks">
                <div class="task-container">
                    <div class="task-title" ng-click="editTask(panel,task)" ng-hide="task.edit_mode" kb-click-focus-input>{{task.title}}</div>
                    <textarea class="task-input" ng-blur="saveTask(panel,task)" ng-model="task.title" ng-show="task.edit_mode" ng-focus="task.edit_mode"
                        kb-blur-on-enter></textarea>
                </div>
            </div>

            <textarea class="new-task-input" ng-blur="createTask(panel)" ng-model="panel.newTask.title" kb-blur-on-enter placeholder="New Task"></textarea>
        </div>
        <div class="panel">
            <input type="button" value="+ New Panel" ng-click="createPanel()" class="btn new-panel" />
        </div>

    </div>
</div>